<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/pico.min.css">
        <title>Product</title>
    </head>
    <body>
        <div class="container">
            <form method="post">     
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
                <label for="description">Description</label>
                <input type="text" id="description" name="description"required>
                <label for="price">Price</label>
                <input type="number" id="price" name="price" step="0.01" required>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>